{layout name="layout1" /}


<div class="wrapper">
    <div class="layui-card">
        <div class="layui-card-body">
            <!--操作提示-->
            <div class="layui-card-body">
                <div class="layui-collapse like-layui-collapse" lay-accordion="" style="border:1px dashed #c4c4c4">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title like-layui-colla-title" style="background-color: #fff">操作提示</h2>
                        <div class="layui-colla-content layui-show">
                            <p>*网站版权信息和ICP备案号设置</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form" lay-filter="">
                <div class="layui-form-item layui-col-sm6 layui-col-md4">
                    <label class="layui-form-label">版权信息：</label>
                    <div class="layui-input-block">
                        <input type="text" name="company_name" lay-verType="tips" autocomplete="off"
                               value="{$config.company_name}" class="layui-input">
                    </div>
                    <div class=" layui-form-mid layui-word-aux" style="left:110px">Copyright © 2019-2020 公司名称</div>
                </div>

                <div class="layui-form-item layui-col-sm6 layui-col-md4">
                    <label class="layui-form-label" style="white-space: nowrap;">ICP备案号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="number" lay-verType="tips" autocomplete="off" value="{$config.number}"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-col-sm6 layui-col-md4">
                    <label class="layui-form-label" style="white-space: nowrap;">备案号链接：</label>
                    <div class="layui-input-block">
                        <input type="text" name="link" lay-verType="tips" autocomplete="off" value="{$config.link}"
                               class="layui-input">
                    </div>
                    <div class=" layui-form-mid layui-word-aux" style="left:110px">
                        域名信息备案系统链接。http://beian.miit.gov.cn/
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-sm {$view_theme_color}" lay-submit lay-filter="setSubmit">确认
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    layui.use(['table'], function () {
        var $ = layui.$
            , form = layui.form;

        form.on('submit(setSubmit)', function (data) {
            like.ajax({
                url: '{:url("setting.Basic/setCopyright")}'
                , data: data.field
                , type: 'post'
                , success: function (res) {
                    layer.msg(res.msg, {
                        offset: '15px'
                        , icon: 1
                        , time: 1500
                    }, function () {
                        location.href = location.href;
                    });
                }
            });
        });



    });

</script>