app_debug = false[database]type = mysqlhostname = likeshop-mysqldatabase = localhost_dcwmusername = rootpassword = roothostport = 3306charset = utf8mb4debug = trueprefix = 'ls_'[project]env_name =admin_name = 外卖点餐file_domain = ""