{layout name="layout1" /}
<style>
  .layui-table-cell {
    height: auto;
  }
</style>
<div class="wrapper">
  <div class="layui-card">

    <!-选项卡-->
    <div class="layui-tab layui-tab-card" lay-filter="like-tabs">

      <div class="layui-tab-content" style="padding: 0 15px;">
        <div style="padding-bottom: 10px;padding-top: 20px;" class="add">
          <button class="layui-btn layui-btn-sm layuiadmin-btn-goods {$view_theme_color}" data-type="add">新建物料分类</button>
        </div>

        <table id="like-table-lists" lay-filter="like-table-lists"></table>

        <script type="text/html" id="table-operation">
          <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
        </script>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['table', 'form', 'element'], function(){
    var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,element = layui.element;

    $('.layui-btn.layuiadmin-btn-goods').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    //获取列表
    getList(); // 初始加载
    function getList() {
      like.tableLists('#like-table-lists', '{:url("material.category/lists")}', [
        {field: 'name', title: '分类名称',width: 200}
        ,{fixed: 'right', title: '操作', align: 'center', toolbar: '#table-operation', width: 250}
      ]);
    }

    //事件
    var active = {
      add: function(){
        var index = layer.open({
          type: 2
          ,title: '新增物料分类'
          ,content: '{:url("material.category/add")}'
          ,area: ['90%', '90%']
          ,btn: ['保存', '取消']
          ,maxmin: true
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submitID = 'add-submit'
                    ,submit = layero.find('iframe').contents().find('#'+ submitID);
            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field;

              like.ajax({
                url:'{:url("material.category/add")}',
                data:field,
                type:"post",
                success:function(res)
                {
                  if(res.code == 1)
                  {
                    layui.layer.msg(res.msg, {
                      offset: '15px'
                      , icon: 1
                      , time: 1000
                    },function () {
                      window.location.href = window.location.href;
                    });

                  }
                }
              });
            });

            submit.trigger('click');
          }
          ,cancel: function(index, layero){
            var window_index = index;
            layer.confirm('商品未保存，确定关闭吗？', {
              time: 0, //不自动关闭
              btn: ['确定', '取消'],
              yes: function(index){
                layer.close(index);
                layer.close(window_index);
              }
            });
            return false;
          }
        });
      },
    };


    //监听工具条
    table.on('tool(like-table-lists)', function(obj){
      var id = obj.data.id;
      var name = obj.data.name;

      //编辑商品
      if(obj.event === 'edit') {
        layer.open({
          type: 2
          ,title: '编辑物料分类'
          ,content: '{:url("material.category/edit")}?id='+id
          ,area: ['90%', '90%']
          ,btn: ['保存', '取消']
          ,maxmin: true
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submitID = 'edit-submit'
                    ,submit = layero.find('iframe').contents().find('#'+ submitID);
            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field;
              like.ajax({
                url:'{:url("material.category/edit")}',
                data:field,
                type:"post",
                success:function(res)
                {
                  if(res.code == 1)
                  {
                    layui.layer.msg(res.msg, {
                      offset: '15px'
                      , icon: 1
                      , time: 1000
                    },function () {
                      window.location.href = window.location.href;
                    });

                  }
                }
              });
            });
            submit.trigger('click');
          }
          ,cancel: function(index, layero){
            var window_index = index;
            layer.confirm('商品未保存，确定关闭吗？', {
              time: 0, //不自动关闭
              btn: ['确定', '取消'],
              yes: function(index){
                layer.close(index);
                layer.close(window_index);
              }
            });
            return false;
          }
        });
      }
      //删除
      if(obj.event === 'del') {
        layer.confirm('确定删除:'+'<span style="color: red">'+name+'</span>', function(index){
          like.ajax({
            url:'{:url("material.category/del")}',
            data:{"id":id},
            type:"post",
            success:function(res)
            {
              if(res.code === 1) {
                layui.layer.msg(res.msg, {offset:'15px', icon:1 ,time: 1000});
                table.reload('like-table-lists', { where: [] });
              } else {
                layui.layer.msg(res.msg, {offset:'15px', icon:2 ,time: 1000});
              }
            }
          });
        })
      }
    });

  });
</script>