<div class="layui-tab-item goods-content layui-show">
    <div class="layui-card-body" pad15>
        <div>
            <!--商品编码-->
            <div class="layui-form-item">
                <label class="layui-form-label">商品编码：</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verType="tips" autocomplete="off" switch-tab="0" class="layui-input">
                </div>
            </div>
            <!--商品名称-->
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form-label-asterisk">*</span>商品名称：</label>
                <div class="layui-input-block">
                    <input name="goods_id" type="hidden">
                    <input type="text" name="name" lay-verify="custom_required" lay-verType="tips"
                           autocomplete="off" maxlength="64"
                           switch-tab="0" verify-msg="请输入商品名称，最多64个字符" placeholder="请输入商品名称，最少3个字符，最多64个字符"
                           class="layui-input">
                </div>
            </div>
            <!--商品简介-->
            <div class="layui-form-item">
                <label class="layui-form-label">商品简介：</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="60" name="remark"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--商品分类-->
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form-label-asterisk">*</span>商品分类：</label>
                <div class="layui-input-inline">
                    <select name="goods_category_id" lay-filter="goods_category_id" lay-verify="custom_required"
                            lay-verType="tips" switch-tab="0" verify-msg="请选择分类">
                    </select>
                </div>
            </div>
            <!--商品封面图-->
            <div class="layui-form-item" style="margin-bottom: 0px">
                <label class="layui-form-label"><span class="form-label-asterisk">*</span>商品封面图：</label>
                <div class="layui-input-block" id="imageContainer">
                    <div class="like-upload-image">
                        <div class="upload-image-elem"><a class="add-upload-image" id="image"> + 添加图片</a></div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <span style="color: #a3a3a3;font-size: 9px">建议尺寸：800*800像素</span>
            </div>
        </div>
    </div>
</div>