<div class="layui-tab-item goods-content">
    <!--规格型号-->
    <div class="layui-card-body" pad15>
        <div lay-filter="">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form-label-asterisk">*</span>商品规格：</label>
                <div class="layui-input-block">
                    <input type="radio" name="spec_type" lay-filter="spec-type" value="1" title="统一规格" checked {if isset($status) && $status == 1}disabled{/if}>
                    <input type="radio" name="spec_type" lay-filter="spec-type" value="2" title="多规格" {if isset($status) && $status == 1}disabled{/if}>
                </div>
            </div>

            <div {if isset($status) && $status == 1} style="display: none"{/if}>
                <!-- 规格项 -->
                <div class="layui-form-item" style="display: none">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block goods-spec-div" id="goods-spec-project">
                    </div>
                </div>

                <!-- 添加规格项目按钮 -->
                <div class="layui-form-item" style="display: none">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn layui-btn-normal layui-btn-sm" id="add-spec" lay-verify="add_more_spec"
                            lay-verType="tips" autocomplete="off" switch-tab="1" verify-msg="至少添加一个规格">添加规格项目
                    </button>
                    <br>
                    <span style="color: #a3a3a3;font-size: 9px;margin-left:130px;">最多支持3个规格项</span>
                </div>
            </div>

            <!-- 统一规格 -->
            <div class="layui-form-item" id="one-spec-lists">
                <label class="layui-form-label">规格明细：</label>
                <div class="layui-input-block goods-spec-div">
                    <table id="one-spec-lists-table" class="layui-table spec-lists-table" lay-size="sm">
                        <thead>
                        <tr style="background-color: #f3f5f9">
                            <th><span class="form-label-asterisk">*</span>市场价(元)</th>
                            <th><span class="form-label-asterisk">*</span>价格(元)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="number" class="layui-input"
                                       lay-verify="one_spec_required|one_market_price"
                                       lay-verType="tips"
                                       autocomplete="off" switch-tab="1" verify-msg="请输入市场价"
                                       name="one_market_price" {if isset($status) && $status == 1}disabled{/if}></td>
                            <td><input type="number" class="layui-input"
                                       lay-verify="one_spec_required|one_price"
                                       lay-verType="tips"
                                       autocomplete="off" switch-tab="1" verify-msg="请输入价格"
                                       name="one_price" {if isset($status) && $status == 1}disabled{/if}></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 多规格 -->
            <div class="layui-form-item" id="more-spec-lists" style="display: none">
                <label class="layui-form-label">规格明细：</label>
                <div class="layui-input-block goods-spec-div">
                    <div class="batch-div add-more-spec" {if isset($status) && $status == 1} style="display: none"{/if}><span class="batch-spec-title">批量设置：</span>
                        <div>
                            <span class="batch-spec-content click-a" input-name="market_price">市场价</span>
                            <span class="batch-spec-content click-a" input-name="price">价格</span>
                        </div>
                    </div>
                    <table id="more-spec-lists-table" class="layui-table spec-lists-table" lay-size="sm">
                    </table>
                </div>
            </div>
        </div>

        <div style="margin-top: 100px;">
            <div class="layui-form-item material-title">
                <label class="layui-form-label">商品物料：</label>
            </div>
            <!-- 物料项 -->
            <div class="layui-form-item" style="display: none">
                <label class="layui-form-label">商品物料：</label>
                <div class="layui-input-block goods-material-div" id="goods-material-project">
                </div>
            </div>

            <!-- 添加物料项按钮 -->
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn layui-btn-normal layui-btn-sm" id="add-material" lay-verify="add-material"
                        lay-verType="tips" autocomplete="off" switch-tab="1">添加物料项
                </button>
                <br>
                <span style="color: #a3a3a3;font-size: 9px;margin-left:130px;">最多支持4个物料项</span>
            </div>
        </div>

    </div>
</div>

<!--规格项模板-->
<script type="text/html" id="template-spec">
    <div class="goods-spec-div goods-spec" lay-verify="add_more_spec|repetition_spec_name" lay-verType="tips"
         autocomplete="off"
         switch-tab="1" verify-msg="至少添加一个规格，且规格需要规格值">
        <a class="goods-spec-del-x" style="display: none;">x</a>
        <div class="layui-form-item"><label class="layui-form-label">规格项：</label>
            <div class="layui-input-block" style="width: 500px">
                <div class="layui-input-inline">
                    <input type="hidden" name="spec_id[]" value="0">
                    <input type="text" name="spec_name[]" lay-verify="more_spec_required" lay-verType="tips"
                           switch-tab="1"
                           verify-msg="规格项不能为空"
                           placeholder="请填写规格名" autocomplete="off" class="layui-input spec_name" value="{value}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block goods-spec-value-dev" lay-verify="repetition_spec_value" lay-verType="tips"
                 switch-tab="1">
                <div class="layui-input-inline">
                    <input type="hidden" class="spec_values" name="spec_values[]" value="">
                    <input type="hidden" class="spec_value_ids" name="spec_value_ids[]" value="">
                    <a href="#" class="add-spec-value">+ 添加规格值</a>
                </div>
            </div>
        </div>
    </div>
</script>

<!--规格值模板-->
<script type="text/html" id="template-spec-value">
    <div class="layui-input-inline goods-spec-value" style="width: 90px">
        <a class="goods-spec-value-del-x" style="display: none;">x</a>
        <input value="{spec_value}" spec-value-temp-id="{spec_value_temp_id}" class="layui-input goods-spec-value-input"
               placeholder="规格值"
               lay-verify="more_spec_required" lay-verType="tips" switch-tab="1" verify-msg="规格值不能为空">
        <input type="hidden" class="goods-sepc-value-id-input" value="{spec_value_id}">
    </div>
</script>
<!-- 多规格表头模板 -->
<script type="text/html" id="template-spec-table-th">
    <colgroup>
        <col width="60px">
    </colgroup>
    <thead>
    <tr style="background-color: #f3f5f9">
        {spec_th}
        <th><span class="form-label-asterisk">*</span>市场价(元)</th>
        <th><span class="form-label-asterisk">*</span>价格(元)</th>
    </tr>
    </thead>
</script>
<!--多规格行模板-->
<script type="text/html" id="template-spec-table-tr">
    {spec_td}
    <td><input type="number" class="layui-input" lay-verify="more_spec_required|more_market_price" lay-verType="tips"
               autocomplete="off" switch-tab="1" verify-msg="请输入市场价" name="market_price[]" {if isset($status) && $status == 1}disabled{/if}></td>
    <td><input type="number" class="layui-input" lay-verify="more_spec_required|more_price" lay-verType="tips"
               autocomplete="off" switch-tab="1" verify-msg="请输入价格" name="price[]" {if isset($status) && $status == 1}disabled{/if}></td>
    </tr>
</script>



<!--物料项模板-->
<script type="text/html" id="template-material">
    <div class="goods-spec-div goods-material" autocomplete="off" style="background-color: white;padding: 20px;margin-bottom: 20px;">
        <a class="goods-spec-del-x" style="display: none;">x</a>
        <div class="layui-form-item" style="clear: unset">
            <div class="layui-input-inline select-material">
                <select name="" lay-filter="material_category" lay-verify="custom_required"
                        lay-verType="tips" switch-tab="0" verify-msg="请选择物料分类" class="material-category" style="width: 190px;height: 38px;">
                </select>
            </div>
            <div class="layui-input-inline more-material">
                <input type="checkbox" name="" lay-skin="primary" title="支持多选" class="choice">
            </div>
            <div class="layui-input-inline must-material">
                <input type="checkbox" name="" lay-skin="primary" title="必选" class="must_select">
            </div>
        </div>
        <div class="checkbox">

        </div>
    </div>
</script>