{layout name="layout1" /}
<style>
  .layui-table-cell {
    height: auto;
  }
</style>
<div class="wrapper">
  <div class="layui-card">

    <!-选项卡-->
    <div class="layui-tab layui-tab-card" lay-filter="like-tabs">

      <div class="layui-tab-content" style="padding: 0 15px;">

        <table id="like-table-lists" lay-filter="like-table-lists"></table>

        <script type="text/html" id="price">
          ￥{{d.price}}
        </script>

        <script type="text/html" id="shop_price">
          ￥{{d.shop_price}}
        </script>

        <script type="text/html" id="table-operation">
          <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">编辑</a>
        </script>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['table', 'form', 'element'], function(){
    var $ = layui.$
            ,form = layui.form
            ,table = layui.table
            ,element = layui.element;

    $('.layui-btn.layuiadmin-btn-goods').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    //获取列表
    getList(); // 初始加载
    function getList() {
      like.tableLists('#like-table-lists', '{:url("goods.material/lists")}', [
        {field: 'code', title: '物料编号'}
        ,{field: 'name', title: '物料名称'}
        ,{field: 'material_category', title: '物料分类'}
        ,{field: 'price', title: '物料价格', templet: '#price'}
        ,{field: 'shop_price', title: '门店物料价格', templet: '#shop_price'}
        ,{field: 'sort', title: '排序'}
        ,{field: 'create_time', title: '创建日期'}
        ,{fixed: 'right', title: '操作', align: 'center', toolbar: '#table-operation', width: 200}
      ]);
    }


    //监听工具条
    table.on('tool(like-table-lists)', function(obj){
      var id = obj.data.id;
      var name = obj.data.name;

      //编辑
      if(obj.event === 'edit') {
        layer.open({
          type: 2
          ,title: '编辑物料分类'
          ,content: '{:url("goods.material/edit")}?id='+id
          ,area: ['90%', '90%']
          ,btn: ['保存', '取消']
          ,maxmin: true
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submitID = 'edit-submit'
                    ,submit = layero.find('iframe').contents().find('#'+ submitID);
            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field;
              like.ajax({
                url:'{:url("goods.material/edit")}',
                data:field,
                type:"post",
                success:function(res)
                {
                  if(res.code == 1)
                  {
                    layui.layer.msg(res.msg, {
                      offset: '15px'
                      , icon: 1
                      , time: 1000
                    },function () {
                      window.location.href = window.location.href;
                    });

                  }
                }
              });
            });
            submit.trigger('click');
          }
          ,cancel: function(index, layero){
            var window_index = index;
            layer.confirm('商品未保存，确定关闭吗？', {
              time: 0, //不自动关闭
              btn: ['确定', '取消'],
              yes: function(index){
                layer.close(index);
                layer.close(window_index);
              }
            });
            return false;
          }
        });
      }
    });

  });
</script>