{layout name="layout1" /}
<style>
    .layui-form-label{
        width: 100px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" pad15>
            <div class="layui-form" lay-filter="">

                <div class="layui-form-item">
                    <label class="layui-form-label">腾讯地图key：</label>
                    <div class="layui-input-inline" style="width: 300px;">
                        <input type="text"  name="qq_map_key" value="{$config.qq_map_key}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-sm {$view_theme_color}" lay-submit lay-filter="set">确定</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script>
    layui.config({
        version:"{$front_version}",
        base: '/static/lib/' //静态资源所在路径
    }).use(['form'], function(){
        var $ = layui.$,form = layui.form,element = layui.element;


        form.on('submit(set)',function (data) {
            like.ajax({
                url: '{:url("setting.mapConfig/config")}'
                ,data: data.field
                ,type: 'post'
                ,success: function(res){
                    if(res.code == 1)
                    {
                        layer.msg(res.msg, {
                            offset: '15px'
                            ,icon: 1
                            ,time: 1500
                        }, function(){
                            location.href = location.href;
                        });
                    }
                },
                error:function(res){
                    layer.msg('网络错误', {
                        offset: '15px'
                        ,icon: 2
                        ,time: 1000
                    }, function(){
                        return;
                    });
                }
            });
        });

    });
</script>