
{layout name="layout2" /}
<style>
    .layui-table-cell {
        height:auto;
    }
    .goods-content>div:not(:last-of-type) {
        bwithdrawal-bottom:1px solid #DCDCDC;
    }
    .goods-data::after{
        display: block;
        content: '';
        clear: both;
    }
    .goods_name_hide{
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
    .operation-btn {
        margin: 5px;
    }
    .table-operate{
        text-align: left;
        font-size:14px;
        padding:0 5px;
        height:auto;
        overflow:visible;
        text-overflow:inherit;
        white-space:normal;
        word-break: break-all;
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
        <div class="layui-collapse like-layui-collapse" lay-accordion="" style="bwithdrawal:1px dashed #c4c4c4">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title like-layui-colla-title" style="background-color: #fff">操作提示</h2>
                <div class="layui-colla-content layui-show">
                    <p>*用户余额流水记录。</p>
                </div>
            </div>
        </div>
        </div>
        <div class="layui-tab layui-tab-card" lay-filter="tab-all">

            <div class="layui-card-body layui-form">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户信息:</label>
                            <div class="layui-input-block">
                                <input type="text" name="keyword" id="keyword" placeholder="请输入用户昵称/编号查询"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>


                        <div class="layui-inline">
                            <label class="layui-form-label">明细类型:</label>
                            <div class="layui-input-block">
                                <select name="type" id="type">
                                    <option value="">全部</option>
                                    <option value="balance_pay_order">余额支付</option>
                                    <option value="recharge_money">余额充值</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">记录时间:</label>
                            <div class="layui-input-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="start_time" class="layui-input" id="start_time"
                                           placeholder="" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-input-inline" style="margin-right: 5px;width: 20px;">
                                <label class="layui-form-mid">至</label>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="end_time" class="layui-input" id="end_time"
                                       placeholder="" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-sm layuiadmin-btn-ad {$view_theme_color}" lay-submit
                                    lay-filter="withdrawal-search">查询
                            </button>
                            <button class="layui-btn layui-btn-sm layuiadmin-btn-ad layui-btn-primary " lay-submit
                                    lay-filter="export">导出
                            </button>
                            <button class="layui-btn layui-btn-sm layuiadmin-btn-ad layui-btn-primary " lay-submit
                                    lay-filter="withdrawal-clear-search">重置
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table id="withdrawal-lists" lay-filter="withdrawal-lists"></table>

                        <script type="text/html" id="user-info">
                            <div style="text-align: left;">
                                <img src="{{ d.avatar }}" style="height:80px;width: 80px" class="image-show layui-col-md4">
                                <div class="layui-input-inline layui-col-md7" style="margin-left: 10px" >
                                    <span class="layui-col-md7">用户编号：{{ d.user_sn }}</span>
                                    <span class="layui-col-md7">用户昵称：{{ d.nickname }}</span>
                                </div>
                            </div>
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      layui.config({
        version:"{$front_version}",
        base: '/static/lib/' //静态资源所在路径
    }).use(['form'], function(){
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , like = layui.like
            , element = layui.element
            , laydate = layui.laydate;

        //图片放大
        $(document).on('click', '.image-show', function () {
            var src = $(this).attr('src');
            like.showImg(src,600);
        });

        //监听搜索
        form.on('submit(withdrawal-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('withdrawal-lists', {
                where: field,
                page: {
                    curr: 1
                }
            });
        });
        //清空查询
        form.on('submit(withdrawal-clear-search)', function () {
            $('#type').val('');
            $('#keyword').val('');
            $('#start_time').val('');
            $('#end_time').val('');
            form.render('select');
            //刷新列表
            table.reload('withdrawal-lists', {
                where: [],
                page: {
                    curr: 1
                }
            });
        });


        //日期时间范围
        laydate.render({
            elem: '#start_time'
            , type: 'datetime'
            ,theme: '#1E9FFF'
            , value: ""
        });

        laydate.render({
            elem: '#end_time'
            , type: 'datetime'
            ,theme: '#1E9FFF'
            ,value: ""
        });


        //获取列表
        getList('');
 
        function getList(type) {
            table.render({
                elem: '#withdrawal-lists'
                , url: '{:url("finance.user/account")}'
                , cols: [[
                      {field: '', title: '用户信息', align: 'center',width:300, templet: '#user-info'}
                    , {field: 'change_amount', title: '变动金额', align: 'center',width:180}
                    , {field: 'left_amount', title: '剩余金额', align: 'center',width:180}
                    , {field: 'source_type', title: '明细类型', align: 'center',width:210}
                    , {field: 'source_sn', title: '来源单号', align: 'center',width:210}
                    , {field: 'create_time', title: '记录时间', align: 'center',width:205}
                ]]
                , page: true
                , text: {none: '暂无数据！'}
                ,response: {
                    statusCode: 1 
                  } 
                , parseData: function (res) {
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.data.count,
                        "data": res.data.lists,
                    };
                }
                ,done: function(res, curr, count){
                    // 解决操作栏因为内容过多换行问题
                    $(".layui-table-main tr").each(function (index, val) {
                        $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                        $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                    });
                }
            });
        }

          // 导出
          form.on('submit(export)', function(data){
              var field = data.field;
              $.ajax({
                  url: '{:url("finance.user/exportFile")}',
                  type: 'get',
                  data: field,
                  dataType: 'json',
                  error: function() {
                      layer.msg('导出超时，请稍后再试!');
                  },
                  success: function(res) {
                      console.log(res.data)
                      table.exportFile(res.data.exportTitle,res.data.exportData, res.data.exportExt, res.data.exportName);
                  },
                  timeout: 15000
              });
              layer.msg('导出中请耐心等待~');
          });

    });
</script>
