{layout name="layout2" /}

<div class="wrapper">
    <div class="layui-card">
        <!-- 财务汇总 -->
        <h2 style="margin: 20px;">财务汇总</h2>
        <div style="margin: 0 20px">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md3" >
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">成交订单/笔</div>
                        <div class="layui-card-body"><p>{$statistics.all_order}</p></div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">到店订单/笔</div>
                        <div class="layui-card-body"><p>{$statistics.shop_order}</p></div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">外卖订单/笔</div>
                        <div class="layui-card-body"><p>{$statistics.takeout_order}</p></div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md3" >
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">成交营业额/元</div>
                        <div class="layui-card-body"><p>￥{$statistics.sale_amount}</p></div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">到店营业额/元</div>
                        <div class="layui-card-body"><p>￥{$statistics.shop_sale_amount}</p></div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">外卖营业额/元</div>
                        <div class="layui-card-body"><p>￥{$statistics.takeout_sale_amount}</p></div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6 layui-col-md3" >
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">已退款金额/元</div>
                        <div class="layui-card-body"><p>￥{$statistics.refund_amount}</p></div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card" style="box-shadow:none;">
                        <div class="layui-card-header" style="border-bottom:0;">退款中金额/元</div>
                        <div class="layui-card-body"><p>￥{$statistics.wait_refund_amount}</p></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 财务查询 -->
        <h2 style="padding:20px;">财务查询</h2>
        <div class="layui-card-body layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">门店信息:</label>
                    <div class="layui-input-block">
                        <select name="shop_id" id="shop_id">
                            <option value="">全部门店</option>
                            {foreach $shop_lists as $val}
                            <option value="{$val.id}">{$val.name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">查询日期：</label>
                    <div class="layui-inline" style="margin-right:0;">
                        <div class="layui-input-inline" >
                            <input type="text" id="start_time" name="start_time" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">至</div>
                    <div class="layui-inline" style="margin-right:0;">
                        <div class="layui-input-inline" style="margin-right:0;">
                            <input type="text" id="end_time" name="end_time" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">搜索</a>
                    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="export">导出</a>
                    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="clear-search">重置</a>
                </div>
            </div>
        </div>

        <!-- 主体区域 -->
        <div class="layui-card-body">
            <table id="like-table-lists" lay-filter="like-table-lists"></table>

            <script type="text/html" id="sale_amount">
                ￥{{ d.sale_amount }}
            </script>
            <script type="text/html" id="shop_sale_amount">
                ￥{{ d.shop_sale_amount }}
            </script>
            <script type="text/html" id="takeout_sale_amount">
                ￥{{ d.takeout_sale_amount }}
            </script>
            <script type="text/html" id="refund_amount">
                ￥{{ d.refund_amount }}
            </script>
        </div>
    </div>
</div>

<script>
    layui.use(["table", "form", "laydate"], function(){
        var table   = layui.table;
        var form    = layui.form;
        var laydate = layui.laydate;

        laydate.render({type:"datetime", elem:"#start_time", trigger:"click", value:"{$week[0]}"});
        laydate.render({type:"datetime", elem:"#end_time", trigger:"click", value:"{$week[1]}"});

        //立即搜索
        form.on("submit(search)", function(data){
            table.reload("like-table-lists", {
                where: data.field,
                page: {
                    curr: 1
                }
            });
        });

        //重置搜索
        form.on("submit(clear-search)", function(){
            $("#start_time").val("{$week[0]}");
            $("#end_time").val("{$week[1]}");
            $("#shop_id").val("");
            form.render('select');
            table.reload("like-table-lists", {
                where: {},
                page: {
                    curr: 1
                }
            });
        });


        getList('');
        function getList() {
            table.render({
                elem: '#like-table-lists'
                , url: '{:url("finance.center/center")}'
                , totalRow: true
                , cols: [[
                    {field:"time", align:"center", title:"日期", totalRowText: '汇总'}
                    ,{field:"shop_name", align:"center",title:"门店信息",width: 200}
                    ,{field:"sale_amount", align:"center",title:"成交营业额", totalRow: true, templet: '#sale_amount'}
                    ,{field:"shop_sale_amount", align:"center", title:"到店营业额", totalRow: true, templet: '#shop_sale_amount'}
                    ,{field:"takeout_sale_amount", align:"center", title:"外卖营业额", totalRow: true, templet: '#takeout_sale_amount'}
                    ,{field:"refund_amount", align:"center", title:"退款金额", totalRow: true, templet: '#refund_amount'}
                    ,{field:"all_order", align:"center", title:"总订单（笔）", totalRow: '{{ parseInt(d.TOTAL_NUMS) }}'}
                    ,{field:"shop_order", align:"center", title:"到店订单（笔）", totalRow: '{{ parseInt(d.TOTAL_NUMS) }}'}
                    ,{field:"takeout_order", align:"center", title:"外卖订单（笔）", totalRow: '{{ parseInt(d.TOTAL_NUMS) }}'}
                ]]
                , page: true
                , text: {none: '暂无数据！'}
                ,response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.code,
                        "msg": res.msg,
                        "count": res.data.count,
                        "data": res.data.lists,
                    };
                }
                ,done: function(res, curr, count){
                    // 解决操作栏因为内容过多换行问题
                    $(".layui-table-main tr").each(function (index, val) {
                        $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                        $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                    });
                }
            });
        }


        //导出
        form.on('submit(export)', function(data){
            var field = data.field;
            $.ajax({
                url: '{:url("finance.center/exportFile")}',
                type: 'get',
                data: field,
                dataType: 'json',
                error: function() {
                    layer.msg('导出超时，请稍后再试!');
                },
                success: function(res) {
                    console.log(res.data)
                    table.exportFile(res.data.exportTitle,res.data.exportData, res.data.exportExt, res.data.exportName);
                },
                timeout: 15000
            });
            layer.msg('导出中请耐心等待~');
        });

    })
</script>